.teamContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 128px 4vw;
}

.teamMembers {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center; /* Center the grid items */
  width: 50%;
}

.teamMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #212222;
  padding: 2rem;
  text-align: left;
  border-radius: 1rem;
  color: #fff;
  width: 100%; /* Ensure it takes full width of the grid column */
}

.memberPhoto {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  border-radius: 1rem;
  object-fit: cover;
}

.memberLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.teamImage {
  border-radius: 1rem;
}

.teamTitle {
  font-size: 2rem;
  margin-bottom: 64px;
  color: #fff;
  padding-left: 8rem;
}

/* .teamContainer {
} */
.teamContent {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  gap: 10rem;
  padding-left: 8rem;
  /* paddi */
  /* align-items: center; */
}

.teamContent p {
  color: #959595;
}

.teamNames {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* .teamNames div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */

.teamNames p {
  padding-top: 0.25rem;
}

.columnContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 1rem; /* Add spacing between items */
}

.columnContainer p {
  margin: 0; /* Remove default margin for cleaner alignment */
}
