/* Blog.module.css */

.blogContainer {
    width: min(100%, 1280px);
    /* height: 100%; */
    /* min-height: 70vh; */
    /* max-height: 70vh;  */
    /* margin: 5vh; Centering and adding equal top/bottom margins */
    /* margin-left: 5vh;
    margin-right: 5vh; */
    /* border: 2px solid #ddd; */
    border-radius: 1.5rem;
    /* padding: 2rem; */
    background-color: #222222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* padding: 8.4vh 8.3vw; */
    padding: min(15%, 80px) min(15%, 160px);
}

.blogHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    gap: 24px;
    /* smart word breaking */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.blogTitle {
    font-size: 2.4rem;
    color: #ffffff;
}

.blogDate {
    font-size: 1.25rem;
    color: #ffffff;
}

.blogContent {
    font-size: 1.25rem;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    align-items: flex-start;
    height: 100%;
    color: #ffffff;
}

.blogImage {
    max-width: 400px;
    max-height: 400px;
    width: 45%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.blogDescription {
    align-self: center;
}


@media (max-width: 1280px) {
    .blogContent {
        flex-direction: column;
    }
    .blogHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    .blogImage {
        width: 100%;
    }
}